body {
  font-family: Arial, Helvetica, sans-serif;
}

.margins {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 50px;
  display: flex;
}

#header1 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

#header2 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.button {
  background-color: #C4FF4C;
  color: #1D1D1D;
  padding: 12px 20px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: -1%;
}

.button:hover {
  background-color: #A6E22E; /* Slightly darker green on hover */
  cursor: pointer;
}

.button:active {
  background-color: #8CCB1F; /* Even darker green when clicked (active) */
  transform: scale(0.95); /* Slightly smaller button when clicked */
}