header{
    padding-top: 40px;
    background: #fcfcfc;
    text-align: center;
    position: fixed;
    left: 0px;
    right:0px;
    top:0px;
    height:75px;
}

.header {
    color: #1D1D1D;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: inline;
    float: center;
    margin-left: 200px;
  }

  .signoutbutton {
    display:block;
    background-color: #1D1D1D;
    color: #f1f1f1;
    float: right;
    position: relative;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 144px;;
    }