
.body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------ General Typography ------------------ */
#header1 {
  font-size: 90px;
  font-weight: 800;
  color: #1D1D1D;
}

#header2 {
  font-size: 64px;
  font-weight: 800;
  color: #1D1D1D;
}


#header4 {
  font-size: 40px;
  font-weight: 800;
  margin-right: 12%;
  color: #1D1D1D;
}

#paragraph1 {
  font-size: 22px;
  margin-right: 12%;
  color: #1D1D1D;
  margin-top: 2%;
}

#paragraph2 {
  font-size: 16px;

}

#bottomtext1 {
  font-size: 64px;
  font-weight: 800;
  margin-left: 15%;
  width: 60%;
  float: left;
  padding-top: 3%;
}

#bottomtext2 {
  font-size: 64px;
  font-weight: 800;
  margin-right: 0%;
  width: 60%;
  float: right;
  padding-top: 2%;
}

#exampleproduct {
  margin-left: 2%;
  margin-top: 2%;
  font-style: italic;
}

/* ------------------ Header ------------------ */

.header {
  margin-top: -80px;
  margin-bottom: 0px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

/* ------------------ Page Content ------------------ */
.pagecontents {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 124px;
  margin-bottom: 124px;
}

#page_contentleft {
  float: left;
  padding: 0px 32px;
}

#page_contentright {
  float: left;
  padding-left: 15%;
  padding-top: 6%;
}

.button {
  background-color: #C4FF4C;
  color: #1D1D1D;
  padding: 16px 32px;
  font-size: 22px;
  margin: 10% 0px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #A6E22E; /* Slightly darker green on hover */
  cursor: pointer;
}

.button:active {
  background-color: #8CCB1F; /* Even darker green when clicked (active) */
  transform: scale(0.95); /* Slightly smaller button when clicked */
}

/* ------------------ Call To Action ------------------ */

.callaction {
  margin-top: 16%;
  background-color: #1D1D1D;
  width: 100%;
  height: 1000px;
  text-align: center;
}

#header3 {
  font-size: 56px;
  font-weight: 800;
  color: #FFFFFF;
  padding-top: 10%;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.button2 {
  background-color: #C4FF4C;
  color: #1D1D1D;
  padding: 16px 32px;
  font-size: 22px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  margin-top: 3%;
  transition: background-color 0.3s, transform 0.3s;
}

.button2:hover {
  background-color: #A6E22E; /* Slightly darker green on hover */
  cursor: pointer;
}

.button2:active {
  background-color: #8CCB1F; /* Even darker green when clicked (active) */
  transform: scale(0.95); /* Slightly smaller button when clicked */
}