/* ------------------ Body ------------------ */
body {
  color: #1D1D1D;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------ Headers ------------------ */

h1 {
  font-weight: 600;
  font-size: xx-large;
}

h2 {
  font-weight: 500;
  font-size: x-large;
}

/* ------------------ img boxes (top right) ------------------ */

img {
  max-width: 250px;
  max-height: 250px;
  margin-right: 16px;
}

.empty-box-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.right-img-box {
  width: 250px;
  height: 250px;
  background-color: lightgrey;
  color: black;
  text-align: center;
  margin-right: 16px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

/* ------------------ page formatting ------------------ */

.container {
  margin-top: -48px;
}

.margins {
  margin-left: 104px;
  margin-right: 104px;
  margin-bottom: -64px;
  display: flex;
}

.pagecontents {
  display: flex;
  height: 100%;
  width: 100%;
}

/* ------------------ playlist link stuff ------------------ */

a.playlist-link {
  color: #1D1D1D;
}

a.playlist-link:hover {
  color: #7f7f7f;
}

.playlist-name {
  margin-top: 8px;
  /* add 8px of margin to the top of the playlist name */
}

/* 
Left side of the page
Most Listened to 
Left side of the page contains:
The left container
  Most-Listened-To
  Button for More-Most-Listened-To
  Empty Box left
    left-img-box for playlist icons
*/

.left-container {
  width: 50%;
  background-color: light grey;
  padding: 16px;
  text-align: left;
  height: 800px;
  margin-right: 20px;
  justify-content: center;

}

.empty-box-left {
  width: 100%;
  height: 808px;
  max-height: 800px;
  display: flex;
  justify-content: space-between;

}

.Most-Listened-To {
  justify-content: space-between;
  display: flex;

}

.More-Most-Listened-To {
  background-color: transparent;
  color: black;
  padding: 0px 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.left-img-box {
  width: 30%;
  height: 608px;
  background-color: lightgrey;
}

/* 
Right side of the page conatins:
right-container
Top Right Side 
  Top Right Side contains:
      Created Mixes 
      The top right container
      Button for More-Created-Mixes
      empty-box-right
      right-img-box for playlist icons
  Bottom Right Side
    Bottom Right Side contains:
      Liked Mixes 
      The bottom right container 
      Button for More-Liked-Mixes
      empty-box-right
      right-img-box for playlist icons
*/
.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;

}


.top-right-container {
  background-color: light grey;
  padding: 16px 16px;

  text-align: left;
  height: 40%;
  width: 100%;
  margin-bottom: 20px;
}

.Created-Mixes {
  justify-content: space-between;
  display: flex;
}

.More-Created-Mixes {
  background-color: transparent;
  color: black;
  padding-right: 48px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.bottom-right-container {
  background-color: light grey;
  padding: 16px 16px;
  text-align: left;
  height: 40%;
  width: 100%;
}

.Liked-Mixes {
  justify-content: space-between;
  display: flex;
}

.More-Liked-Mixes {
  background-color: transparent;
  color: black;
  padding-right: 48px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}