<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/createPlaylistPage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-ajZ0XmMa8d6HPlDyG7nKSJlBdxn1fKs3U6Zf3TJvXG1xUceMkP5FFwVEva/SOQdJ" crossorigin="anonymous">

    <script>
        //To view the image which the user uploads
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        function checkImageSize(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                const img = new Image();
                img.src = reader.result;
                img.onload = function () {
                    if (this.width > 10000) {
                        alert("Image width should be less than 10000 pixels.");
                        event.target.value = null; // reset the file input
                        document.getElementById("output").src = ""; // reset the preview image
                    } else {
                        document.getElementById("output").src = this.src; // show the preview image
                    }
                };
            };
        }

    </script>


</head>

<body>
    <iframe name="header" src="{{ url_for('homeheader')}}" frameborder="0" scrolling="no" width="100%" height="100%"
        style="margin-top: -6px; "></iframe>
    <br>
    <div id="header2">
        <h2>Create your Playlist!</h2>
    </div>
    <div class="margins">
        <form action="/createPlaylistPage" method="POST" enctype="multipart/form-data">
            <!--Name of the playlist-->
            <div>
                <label for="playlist-name">Playlist Name:</label>
                <br>
                <input type="text" id="playlist-name" name="playlist-name" required>
            </div>
            <br>

            <!--Description of the playlist-->
            <div>
                <label for="playlist-description">Playlist Description:</label>
                <br>
                <textarea id="playlist-description" name="playlist-description" rows="4" cols="50"></textarea>
            </div>
            <br>

            <!--Passcode of the playlist-->
            <div>
                <label for="playlist-passcode">Playlist Passcode:</label>
                <br>
                <input type="password" id="playlist-passcode" name="playlist-passcode" required>
            </div>
            <br>

            <div>
                <label for="playlist-genre">Playlist Genre:</label>
                <select id="playlist-genre" name="playlist-genre">
                    <option value="rock">Rock</option>
                    <option value="pop">Pop</option>
                    <option value="jazz">Jazz</option>
                    <option value="classical">Classical</option>
                </select>
            </div>
            <br>

            <!--Icon for the playlist-->
            <!--It lets the user upload an icon from their local computer--><!--not part of the MVP-->
            <div>
                <label for="playlist-image">Playlist Image:</label>
                <input type="file" id="playlist-image" name="playlist-image" accept="image/*" onchange="checkImageSize(event)">
                <p><img id="output" width="200" /></p>
            </div>

            <!--Submit-->
            <button type="button" onclick="history.go(-1)">Cancel</button>
            <button type="submit">Create Playlist</button>

        </form>
    </div>
    <footer>
        <iframe src="{{ url_for('uponsigninfooter')}}" frameborder="0" scrolling="no" width="100%"
            height="304px;"></iframe>
    </footer>
</body>

</html>