<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>Error</title>
        <style>
            /* Set a margin-top for the error message to create space below the header */
            h1 {
            margin-top: 300px;
            margin-bottom: auto;
            text-align: center;
            }
            p {
                margin-top: 50px;
                margin-bottom: auto;
                text-align: center;
            }
            body {
            font-family: Arial, Helvetica, sans-serif;
            }
        </style>
</head>
<body>
        <iframe name="header" src="{{ url_for('homeheader')}}" frameborder="0" scrolling="no" width="100%" height="100"
style="position: fixed; top: 0; left: 0; right: 0;"></iframe>

<h1>Error</h1>
<p>Sorry, an error has occurred.</p>


<footer>
    <iframe src="{{ url_for('uponsigninfooter')}}" frameborder="0" scrolling="no" width="100%"
        height="304px;" style="position: fixed; bottom: 0; left: 0; right: 0;"></iframe>
</footer>
</body> 
</html>
