<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/landingpage.css">
    </head>

    <header style="max-width:1500px;">
        <div class="margins">
        <!-- <img  src="" alt="" width="1500" height="800"> -->
        <!-- I will more than likely make the header a SVG for styling purposes,
        but for now it is html & text. -->

        <!-- This section on larger resolution does not stay centered, does any one have any idea how to fix that? 
          Also - not super pressing because I plan to make it an img later.  -->
        <div class="header">
            <div id="header3">
          Add Your Favorite Songs to the Mix!
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div id="header1">
          VERGE
        </div>
        </div>
    </div>
      </header>
        <br>
        <br>
    <body>
        <div class="margins">
        <!--Page Content-->
        <div class="pagecontents">
        <div id="page_contentleft">
        <video width="600" height="400" controls>
            <source src="somevideo.mp4" type="video/mp4">
            <source src="somevideo.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </div>

        <div id="page_contentright">
        <div id="header4">Ever been to an event where the DJs songs weren't vibing?</div>
        <br>
        <div id="paragraph1">This is Verge, the seamless collaborative DJ experience that puts you in control.
            DJs can instantly accept and relinquish control of the mix without missing a beat.
            As a user, you can request your favorite song, and the DJ will see it.</div>
            <button type="button" class="button">Primary Button</button>
        </div>
    </div>
</div>
        <!--PCA Cards-->
    <div class="center">
        <div class="row">
            <div class="column">
              <div class="cards" id="card1"><h3><b>Share Playlists</b></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h6>SHOW ME MORE -></h6></div>
            </div>
            <div class="column">
              <div class="cards" id="card2"><h3><b>Passcode Protected</b></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h6>SHOW ME MORE -></h6></div>
            </div>
            <div class="column">
              <div class="cards" id="card3"><h3><b>Collaborative Creation</b></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h6>SHOW ME MORE -></h6></div>
            </div>
          </div>
        </div>


        <!--Call To Action-->
        <div class="margins">
        <div class="callaction">
        <div id="header3">What are you waiting for? Get started with Verge!</div>
        <br>
        <div id="paragraph1">Whether you are a professional DJ, a weekend hobbyist, or just someone who enjoys
            good tunes, Verge lets everyone play a part in the mix.
            </div>
        <br>
        <button type="button" class="button1"><b>Primary Button</b></button>
        <button type="button" class="button2"><b>Secondary Button</b></button>
        </div>
    </div>
    </body>
</html>