<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
      <iframe src="landheader.html" frameborder="0" scrolling ="no" width="100%" height="100%" style="margin-top: -6px; "></iframe>
        <h1><u>Login</u> | <a href="{{ url_for('signup') }}">Signup</a></h1>
        <!-- {% block body %}
        {% if session['logged_in'] %}
        
        You're logged in already!
        
        {% else %} -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
          {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
          <!--<div class="logoimage">
            <img src="" alt="Verge Logo" class="Logo">
          </div> -->
          <div class="container">
            <label for="email"><b>Email</b></label>
            <br>
            <input type="text" placeholder="Email Address" name="email" required>
        </div>
        <div class="container">
            <label for="password"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <div class="container">
            <span class="password">Forgot <a href="#">Password?</a></span>
          </div>

          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
            <button type="submit">Login</button>
        </form>
        {% endif %}
        {% endblock %}
        <iframe src="landfooter.html" frameborder="0" scrolling ="no" width="100%" height="304px;"></iframe>
        </body>
</html>