<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        
        <h1><u>Login</u> | Sign Up</h1>
        {% block body %}
        {% if session['logged_in'] %}
        
        You're logged in already!
        
        {% else %}
        <form action="/login" method="POST">
          <!--<div class="logoimage">
            <img src="" alt="Verge Logo" class="Logo">
          </div> -->
        
          <div class="container">
            <label for="email"><b>Email</b></label>
            <br>
            <input type="text" placeholder="Email Address" name="email" required>
        </div>
        <div class="container">
            <label for="psw"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Password" name="psw" required>
        </div>
        <div class="container">
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>

          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
            <button type="submit">Login</button>
        </form>
        {% endif %}
        {% endblock %}
        </body>
</html>