
<!DOCTYPE html>
<html>

<head>
  <!-- Add fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/playlistpage.css">
</head>

<body>
  <iframe name="header" src="{{ url_for('homeheader')}}" frameborder="0" scrolling="no" width="100%" height="100"
    style="position: fixed; top: 0; left: 0; right: 0;"></iframe>
  <!-- Container1 is left top side -->
  <div class="container1" style="margin-left: 2%;">
    <div class="jammingwith">
      <!------------------------ Playlist Name & Share Button ------------------------>
      <div class="d-flex justify-content-between align-items-center">
        <span class="playlist-name" style="text-transform: uppercase; font-weight:bold;">{{ playlist_name }}</span>
        <div class="sharebutton">
          <button onclick="document.getElementById('id01').style.display='block'"
            class="btn btn-rounded btn-outline-dark ml-auto" style="width: 100%;">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
                viewBox="0 0 16 16" style="margin-right: 10%;">
                <path
                  d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
              </svg>
              <span>SHARE</span>
            </div>
          </button>
        </div>
      </div>

      <!------------------------ MODAL BOX FOR SHARING ------------------------>
      <div id="id01" class="modal">
        <form class="modal-content animate" action="/AddSharedUserByPlaylistOwner" method="POST">
          <div id="success-message" style="display:none">USER SUCCESSFULLY ADDED</div>
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
            style="top: 4%; right: 4%; font-size: 32px;">&times;</span>
          <div class="container modal-container"
            style="display: flex; flex-direction: column; align-items: center; width: 60%;">
            <div class="input-label" style="padding-top: 8%; font-size: 20px; font-weight: 400; color: #1D1D1D;">
              <label for="uname"><b>Share {{ playlist_name }} With </b></label>
            </div>
            <div class="form-outline mb-4" style="width: 100%; padding-top:1%;">
              <input type="text" id="shareduser_username" class="form-control form-control-lg"
                placeholder="Enter a Username" name="shareduser_username" required />
            </div>
            <!--Taking current user, playlist name and songs to redirect to the playlist page after the user is added-->
            <input hidden="true" name="username" value={{username}} />
            <input hidden="true" name="playlist_name" value={{playlist_name}} />
            <input hidden="true" name="songs" value={{songs}} />
            <input hidden="true" name="genre" value={{genre}} />
            <button type="submit" id="share-btn">Share!</button>
          </div>
        </form>
      </div>


      <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        // add event listener to the form submit button
        document.getElementById('share-btn').addEventListener('click', function (event) {
          event.preventDefault();
          var form = document.querySelector('form');
          var successMessage = document.getElementById('success-message');

          // submit the form using AJAX
          fetch(form.action, {
            method: 'POST',
            body: new FormData(form)
          })
            .then(response => {
              if (response.ok) {
                successMessage.style.display = 'block';
              }
            })
        });
      </script>
      <!------------------------ END MODAL BOX FOR SHARING ------------------------>

      <hr />
      <span class="user" style="font-size: 22px;">{{ playlist_creator }}</span>
      <!-- <span class="follow">Follow</span> -->
      <br>
      <br>
      <span>{{ description }}</span>
      
    </div>
    <div class="add">
      <span style="text-transform: uppercase; font-weight:bold;">ADD SONGS</span>
      <hr />
      <form action="/sharedplaylistpage" method="GET">
        <div class="textcontainer">
          <input id="songtoadd" name="song" type="text" placeholder="Search Songs to Add"
            class="form-control form-control-lg" />
          <input hidden="true" name="username" value={{username}} />
          <input hidden="true" name="playlist_name" value={{playlist_name}} />
          <input hidden="true" name="songs" value={{songs}} />
          <input hidden="true" name="genre" value={{genre}} />
          <input type="submit" value="Search!" class="btn btn-dark" style="float:right; margin-bottom: 6%;" />
        </div>
      </form>
      <br>
      <!-- can't figure out how make add button appear inline. see .results class -->
      <ol class="results">
        {% if songResults[0]|length !=0 %}
        {%for i in range(0,3)%}
        <li>{{songResults[i]}} by {{artistResults[i]}}
          <form method="POST" action="/AddSongBySharedUser">
            <input type="hidden" name="songID" value="{{songIDs[i]}}" /> <!--API SONG ID-->
            <input type="hidden" name="songResult" value="{{songResults[i]}}" /><!--SONG RESULT-->
            <input type="hidden" name="artistResult" value="{{artistResults[i]}}" /><!--SONG ARTIST-->
            <input type="hidden" name="imageURL" value="{{imageURLs[i]}}" /><!--IMAGE URL-->
            <input hidden="true" name="username" value={{username}} /><!--CREATOR OF PLAYLIST-->
            <input hidden="true" name="playlist_name" value={{playlist_name}} /><!--PLAYLIST NAME-->
            <input hidden="true" name="songs" value={{songs}} />
            <input type="password" name="password" style="width: 70%" placeholder="Enter Playlist's Passcode" required/>
            <button type="submit" style="font-size: small;">ADD<svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"
                style="margin-left: 8px;">
                <path fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
              </svg></button>
          </form>
        {%endfor%}
      </li>
      {%endif%}
      </ol>
    </div>
  </div>

  <!-- Container2 is middle -->
  <div class="container2" id="current-song">
    <div class="currentsong">
      <span><img src="../static/images/imgsmall/FunkyYellow.png" class="img" style="width: 600px; height: auto;"></span>
      <br>
      <br>
      <span class="currentitle">Song Title</span>
      <br>
      <span class="currenartist">Artist Name</span>
    </div>
  </div>

<!-- Container3 is right side -->
<div class="container3">
  <div class="queue">
    <div class="genre">
      <span class="g1">{{ genre }}</span>
    </div>
    <br>
    <span style="text-transform: uppercase; font-weight:bold;">In Queue</span>
    <hr />
      <div class="song-list" style="width: 340px;"> <!--Made a loop-->
        {% for song in songs %}
        <div class="song d-flex align-items-center" data-title="{{ song.songResult }}" data-artist="{{ song.artistResult }}" data-image="{{ song.imageURL }}">
          <img src={{song.imageURL}} class="image2"
            style="max-height: 76px; max-width: 76px; margin-right: 10px;margin-bottom: 24px;" >
          <div style="margin-bottom: 25px; ">
            <span class="number" style="font-size: 14px;">{{ loop.index }}.</span>
            <span class="title" style="font-size: 14px;"><b>{{ song.songResult}}</b></span>
            <span class="songArtist" style="font-size: 14px;"> - {{ song.artistResult }}</span>
            <button type="submit" class="d-flex align-items-center" onclick="document.getElementById('{{loop.index}}').style.display='block'" style="font-size: small; padding-left: 12px; padding-right: 12px;"><svg xmlns="http://www.w3.org/2000/svg" width="20"
              height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg></button>
          </div>
          <!--Delete work-->
          <div id="{{loop.index}}" class="modal">
            <div style="height: 80%; overflow-y: auto;">
            <form method="POST" action="/DeleteSong" class="modal-content animate">
                <div id="success-message" style="display:none">SONG DELETED</div>
                <span onclick="document.getElementById('{{loop.index}}').style.display='none'" class="close"
                style="top: 4%; right: 4%; font-size: 32px;">&times;</span>
                <div class="container modal-container" style="display: flex; flex-direction: column; align-items: center; width: 60%; height: 300px; overflow: auto;">
              <div class="input-label" style="padding-top: 8%; font-size: 20px; font-weight: 400; color: #1D1D1D;">
                <label for="uname"><b>Are you sure you want to delete {{ song.songResult }} by {{song.artistResult}} ? </b></label>
              </div>
              <input type="hidden" name="songID" value="{{song.songID}}" /> <!--API SONG ID-->
              <input type="hidden" name="songResult" value="{{song.songResult}}" /><!--SONG RESULT-->
              <input type="hidden" name="artistResult" value="{{song.artistResult}}" /><!--SONG ARTIST-->
              <input type="hidden" name="imageURL" value="{{song.imageURL}}" /><!--IMAGE URL-->
              <input hidden="true" name="username" value={{username}} /><!--CREATOR OF PLAYLIST-->
              <input hidden="true" name="playlist_name" value={{playlist_name}} /><!--PLAYLIST NAME-->
              <input hidden="true" name="songs" value={{songs}} />
              <input hidden="true" name="genre" value={{genre}} />
              <input type="password" name="password" style="width: 70%" placeholder="Enter Playlist's Passcode" required/>
              <button type="submit" id="delete-btn">Delete!</button>
            </div>
          </form>
          </div>
            <!-- <span class="time">{{ song.time }}</span> -->
          </div>
          <!-- <span class="time">{{ song.time }}</span> -->
        </div>
        <script>
          // Get the modal
          var modal = document.getElementById('{{loop.index}}');
  
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
  
          // add event listener to the form submit button
          document.getElementById('delete-btn').addEventListener('click', function (event) {
            var form = document.querySelector('form');
            var successMessage = document.getElementById('success-message');
  
            // submit the form using AJAX
            fetch(form.action, {
              method: 'POST',
              body: new FormData(form)
            })
              .then(response => {
                if (response.ok) {
                  successMessage.style.display = 'block';
                }
              })
          });
        </script>
        <script>
          // Get all the song divs
          var songDivs = document.querySelectorAll('.song');

          // Add click event listener to each song div
          songDivs.forEach(function (div) {
            div.addEventListener('click', function (event) {
              // Get the song information from the clicked div's data attributes
              var title = this.dataset.title;
              var artist = this.dataset.artist;
              var image = this.dataset.image;

              // Update the contents of the current song div
              var currentSongDiv = document.getElementById('current-song');
              currentSongDiv.querySelector('.currentitle').textContent = title;
              currentSongDiv.querySelector('.currenartist').textContent = artist;
              currentSongDiv.querySelector('img').src = image;
            });
          });
        </script>
        {% endfor %}
      </div>
      </div>
    </div>
      <footer>
        <iframe src="{{ url_for('uponsigninfooter')}}" frameborder="0" scrolling="none" width="100%" height="96px"
          style="position: absolute; bottom: 0; left: 0; right: 0; margin-bottom: -22%;"></iframe>
      </footer>
</body>

</html>