<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/signup.css">
  </head>
  <body>
    <!-- Include header -->
    <iframe name="header" src="{{ url_for('header') }}" frameborder="0" scrolling="no" width="100%" height="100%" style="margin-top: -6px;"></iframe>
    <br>
    <!-- Add class to outermost div -->
    <div class="content-container">
      <!-- Use class instead of align -->
      <div class="border">
        <div class="border">
          <div class="header">
            <!-- Use proper HTML tags -->
            <h1><a href="{{ url_for('login') }}">Login</a> | <u>Signup</u></h1>
          </div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <!-- Use proper class name -->
              <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
              </div>
            {% endif %}
          {% endwith %}
          <form action="/signup" method="POST">
            <div class="container">
              <label for="username"><b>Username</b></label>
              <br>
              <input type="text" placeholder="Username" name="username" required>
            </div>
            <div class="container">
              <label for="email"><b>Email</b></label>
              <br>
              <input type="email" placeholder="Email Address" name="email" required>
            </div>
            <div class="container">
              <label for="password"><b>Password</b></label>
              <br>
              <input type="password" placeholder="Password" name="password" required>
            </div>
            <label>
              <input type="checkbox" checked="checked" name="t&pp"> I agree to the <a href="#">terms</a> and <a href="#">Privacy Policy</a>.
            </label>
            <button type="submit">Sign Up</button>
          </form>
          <p class="bottom">Already have an account? <a class="bottom" href="{{ url_for('login') }}">Log In here</a></p>
        </div>
      </div>
    </div>
    <br>
    <!-- Include footer -->
    <footer>
      <iframe src="{{ url_for('footer') }}" frameborder="0" scrolling="no" width="100%" height="100%" style="position: fixed;"></iframe>
    </footer>
  </body>
</html>
