<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/signup.html">             
    </head>
    <body>
        <div align="left">
          <div align="left" class="border">
             <div class="header">
              <h1><a href="{{ url_for('login') }}">Login</a> | <u>Signup</u></h1>
             </div>
                <form action="/signup" method="POST">
                  <div class="container">
                    <label for="name"><b>Name</b></label>
                    <br>
                    <input type="text" placeholder="First Name" name="name" required>
                </div>
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <br>
                    <input type="password" placeholder="Email Address" name="email" required>
                </div>
                <div class="container">
                  <label for="psw"><b>Password</b></label>
                  <br>
                  <input type="password" placeholder="Password" name="psw" required>
              </div>
                  <label>
                    <input type="checkbox" checked="checked" name="t&pp"> I agree to the <a href="#">terms</a> and <a href="#">Privacy Policy</a>.
                  </label>
                    <button type="submit">Sign Up</button>
                </form>
          </div>
        </div>
    </body>
</html>