<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/userPlaylistpage.css">
</head>

<body>
  <iframe name="header" src="{{ url_for('homeheader')}}" frameborder="0" scrolling="no" width="100%" height="100%"
    style="margin-top: -6px; "></iframe>
  <br>
  <div style="padding-left: 10%;">
    <h1>
      Welcome {{username}}!
    </h1>
  </div>
  <div class="margins">

    <!--Page Contents-->
    <div class="pagecontents">

      <!--Left side of the page-->
      <div class="left-container">
        <div class="Most-Listened-To">
          <!--Most Listened To-->
          <h2>Most Listened To</h2>
          <!--button to show all/More-->
          <!--Link here to the HTML of Most Listened To-->
          <button class="More-Most-Listened-To"> <b>More ></b> </button>
        </div>
        <div class="empty-box-left">
          <!--Img add-->
          <div class="left-img-box">Playlist 1</div>
          <div class="left-img-box">Playlist 2</div>
          <div class="left-img-box">Playlist 3</div>
        </div>
      </div>

      <!--Right side of the page-->
      <div class="right-container">
        <!--Top Right-->
        <div class="top-right-container">
          <div class="Created-Mixes">
            <!--Created Mixes-->
            <h2>Created Mixes</h2>
            <!--button to show all/More-->
            <!--Link here to the HTML of Created Mixes-->
            <button class="More-Created-Mixes"><b>More ></b> </button>
          </div>
          <div class="empty-box-right">
            {% for playlist in current_user_playlists %}
            <div class="right-img-box"><a
            href="{{ url_for('playlistpage', username=username, playlist_name=playlist.name, playlist_id=playlist.id, songs=songs) }}">{{ playlist.name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
        <!--Bottom Right-->
        <div class="bottom-right-container">
          <div class="Liked-Mixes">
            <!--Liked Mixes-->
            <h2>Liked Mixes</h2>
            <!--button to show all/More-->
            <!--Link here to the HTML of Liked Mixes-->
            <button class="More-Liked-Mixes"><b>More ></b> </button>
          </div>
          <div class="empty-box-right">
            <!--Img add-->
            <div class="right-img-box">Playlist 7</div>
            <div class="right-img-box">Playlist 8</div>
            <div class="right-img-box">Playlist 9</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <iframe src="{{ url_for('uponsigninfooter')}}" frameborder="0" scrolling ="no" width="100%" height="304px;"></iframe>
  </footer>
</body>
</html>