<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/userPlaylistpage.css">
</head>

<body>
  <iframe name="header" src="{{ url_for('homeheader')}}" frameborder="0" scrolling="no" width="100%" height="100%"
    style="margin-top: -6px;"></iframe>
  <br>
  <div class="container">
    <div style="padding-left: 8%;">      
      <h1>Welcome {{username}}!</h1>
    </div>
  </div>
  <div class="margins">
    <!--Page Contents-->
    <div class="pagecontents">    
      <!--Right side of the page--><!--Now expanded throughout-->
      <div class="right-container">
        <!--Top -->
        <div class="top-right-container">
          <div class="Created-Mixes">
            <!--Created Mixes-->
            <h2>Created Mixes</h2>
            <!--button to show all/More-->
            <!--Link here to the HTML of Created Mixes-->
            <button style="margin-right: -2.5%;" class="More-Created-Mixes"><a href="{{ url_for('PlaylistMore')}}"><b>More ></b></a></button>
          </div>
          <div class="empty-box-top-right">
            <div class="row">
              {% for playlist in playlists[-5:] %}
              <div class="empty-box">
                <a href="{{ url_for('playlistpage', username=current_user.username, playlist_name=playlist.name, playlist_id=playlist.id, songs=songs) }}"
                  class="playlist-link">
                  {% if playlist.playlist_image %}
                  <img src="{{ url_for('playlist_image', playlist_id=playlist.id) }}" alt="Playlist Image">
                  {% endif %}
                  <div class="playlist-name">{{ playlist.name }}</div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!--Bottom -->
        <div class="bottom-right-container">
          <div class="Shared-With-You">
            <!--Liked Mixes-->
            <h2>Shared With You</h2>
            <!--button to show all/More-->
            <!--Link here to the HTML of Liked Mixes-->
            <button style="margin-right: -2.5%;" class="More-Created-Mixes"><a href="{{ url_for('SharedPlaylistMore')}}"><b>More ></b></a></button>
          </div>
          <div class="empty-box-top-right">
            <div class="row">
              {% for shared_playlist in shared_playlists[-5:] %}
              <div class="empty-box">
                <a href="{{ url_for('sharedplaylistpage', username=current_user.username, playlist_name=shared_playlist.name) }}"
                  class="playlist-link">
                  {% if shared_playlist.playlist_image %}
                  <img src="{{ url_for('playlist_image', playlist_id=shared_playlist.id) }}" alt="Playlist Image">
                  {% endif %}
                  <div class="playlist-name">{{ shared_playlist.name }}</div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
  <footer>
    <iframe src="{{ url_for('uponsigninfooter')}}" frameborder="0" scrolling="no" width="100%" height="100%;"></iframe>
  </footer>
</body>

</html>